body { 
    background-color: rgb(212, 211, 211);
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    algain-center
}

div{
    box-sizing: border-box;
}


div.post{
background-color: white;
margin-top: 10px;
}

div.post img{
    width: 100%;
}
div.post h2, div.post p{
    padding: 10px;
    margin: 0;
}

 div.container{
    display: flex;
    width: 400px;
    margin: auto;
 }
 .post-header{
    display: flex;
    margin-top: 5px;
 }

 .post-header :last-child{
    font-size: large;
 }

 .post-header-text{
  display: flex;
  padding-right: 285px;
 }

 .post-header-text :first-child{
    font-size: large;
 }

.icons{ 
    display: flex;
}

 .icons-left {
    width: 20%;
    display: flex;
    justify-content: space-around;
    padding: 0px 5px 0px 5px;
}

.icons-right{
    margin-left: auto;
    margin-right: 5px;
    display:flex;
   justify-content:flex-end

}

